.wrapper {
  display: flex;
  width: 100%;
}
.w30 {
  background: yellow;
  padding: 10px;
  margin: 10px;
  width: 30%;
}

.w70 {
  background: red;
  padding: 10px;
  margin: 10px;
  width: 70%;
}

canvas {
  border: 1px black solid;
}
#textCanvas {
  display: none;
}
